REACT_EDITOR=code

APP_ENV=DEVELOPMENT
NEXT_PUBLIC_BACKEND_URL="http://localhost:8000/api"

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=

# Google Calendar API Credentials
GOOGLE_CALENDAR_ID=
# google_calendar_service.json
GOOGLE_APPLICATION_CREDENTIALS=

NEXT_PUBLIC_BLOOM_CLIENT_HEADER=Bloom