asgiref==3.8.1
astroid==2.15.8
attrs==25.4.0
Django==5.1.12
django-cors-headers==4.4.0
django-extensions==3.2.3
djangorestframework==3.15.2
drf-spectacular==0.29.0
flake8==6.1.0
flake8-django==1.4
freezegun==1.5.1
gunicorn==23.0.0
inflection==0.5.1
iniconfig==2.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
lazy-object-proxy==1.10.0
mccabe==0.7.0
packaging==24.1
pluggy==1.5.0
psycopg==3.2.1
psycopg-binary==3.2.1
psycopg-pool==3.2.2
pycodestyle==2.11.1
pyflakes==3.1.0
pytest==8.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.29.0
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
uritemplate==4.2.0
wrapt==1.16.0
