@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9f9f9ff;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* Bloom project colors */
    --bloom-gray: #e5e1e6ff;
    --bloom-red: #be1b3bff;
    --bloom-red-light: #fb2c36;
    --bloom-blue: #67d4ecff;
    --bloom-blue-light: #b8e3edff;
    --bloom-yellow: #f3d03aff;
    --bloom-yellow-light: #f6e6a0ff;
    --bloom-orbit: #2332ffff;
    --bloom-orbit-light: #a5a8e1ff;
    --bloom-shadow: #d1d5db;

    /* Used to offset the height of the navbar if centering a whole page */
    --layout-header-height: 106px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  /* Global Default text Styling */
  body {
    @apply font-montserrat;
  }
}

/* Utility Classes */
@layer utilities {
  .title-lg {
    @apply text-3xl font-bold leading-10 tracking-normal;
  }

  .title {
    @apply text-2xl font-bold leading-9 tracking-normal;
  }

  .subtitle {
    @apply text-xl font-semibold leading-7 tracking-normal;
  }
  .body {
    @apply font-montserrat text-base font-medium leading-6 tracking-wide;
  }
  .body-bold {
    @apply text-base font-bold leading-6 tracking-wide;
  }

  .body-sm-bold {
    @apply text-sm font-bold leading-5 tracking-wide;
  }

  .body-sm {
    @apply text-sm font-normal leading-5 tracking-wide;
  }

  .caption {
    @apply text-xs font-normal leading-5 tracking-wider;
  }

  .caption-link {
    @apply text-xs font-normal leading-5 tracking-wider underline;
  }

  /* Used to offset the height of the navbar if centering a whole page */
  .min-h-layout-header {
    min-height: calc(100vh - var(--layout-header-height));
  }
}

@layer utilities {
  .spinner-fade-mask {
    /* Conic gradient used for masking effect
       Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/gradient/conic-gradient */
    mask-image: conic-gradient(from 40deg, transparent 0%, black 100%);
    mask-size: cover;
    mask-repeat: no-repeat;
  }
}
